/* line 9, Second_CodeReview_Style.scss */
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif; }

/* line 15, Second_CodeReview_Style.scss */
.header {
  background-color: #5A1113;
  display: flex;
  height: 120px;
  justify-content: space-around;
  margin-bottom: 0; }

/* line 22, Second_CodeReview_Style.scss */
.headerimg1 {
  margin: auto auto auto 20px; }

/* line 25, Second_CodeReview_Style.scss */
.headerimg2 {
  margin: auto 20px auto auto; }

/* line 28, Second_CodeReview_Style.scss */
.navbar {
  background-color: #131313;
  margin: 0; }

/* line 32, Second_CodeReview_Style.scss */
.ulist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 38, Second_CodeReview_Style.scss */
.ulist li a {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 1.6em; }

/* line 47, Second_CodeReview_Style.scss */
.currentsite {
  color: #7f8c8d; }

/* line 50, Second_CodeReview_Style.scss */
.ulist li a:hover {
  transition: 0.3s;
  color: #7f8c8d; }

/* line 54, Second_CodeReview_Style.scss */
.bodycontainer {
  width: 90%;
  margin: 0 auto; }

/* line 58, Second_CodeReview_Style.scss */
.date {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  height: 50px;
  justify-content: flex-end; }

/* line 66, Second_CodeReview_Style.scss */
.date p {
  margin: auto 0;
  padding: 0; }

/* line 70, Second_CodeReview_Style.scss */
.topnews, .popular {
  background-color: #DEDEDE;
  width: 100%;
  padding: 0; }

/* line 75, Second_CodeReview_Style.scss */
.topnews ul, .popular ul {
  padding: 0;
  margin: 0; }

/* line 79, Second_CodeReview_Style.scss */
.topnews ul li, .popular ul li {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #4C4C4C;
  line-height: 50px;
  font-size: 1.6em; }

/* line 88, Second_CodeReview_Style.scss */
.firstimages {
  width: 100%;
  display: flex;
  justify-content: space-between; }

/* line 93, Second_CodeReview_Style.scss */
.firstimages .img {
  flex-basis: 30%; }

/* line 96, Second_CodeReview_Style.scss */
.firstimages .img img {
  width: 100%;
  height: auto; }

/* line 100, Second_CodeReview_Style.scss */
.firstimages .img figcaption {
  padding: 3px;
  background-color: #131313;
  color: #fff;
  position: relative;
  margin: -15% 0 0 0;
  max-width: 100%;
  font-size: 1.6em; }

/* line 109, Second_CodeReview_Style.scss */
.popular {
  margin-top: 20px;
  width: 100%; }

/* line 114, Second_CodeReview_Style.scss */
.firstpartcontainer {
  display: flex;
  margin-top: 20px; }

/* line 118, Second_CodeReview_Style.scss */
.firstpartleftside {
  flex: 9;
  margin-right: 20px; }

/* line 122, Second_CodeReview_Style.scss */
.firstpartrightside {
  flex: 1;
  text-align: right; }

/* line 126, Second_CodeReview_Style.scss */
.firstpartrightside img {
  height: 100%;
  width: auto; }

/* line 130, Second_CodeReview_Style.scss */
.developerbanner {
  display: flex; }

/* line 133, Second_CodeReview_Style.scss */
.developerbanner a {
  margin: 20px auto 0 auto; }

/* line 136, Second_CodeReview_Style.scss */
.secondpartcontainer {
  display: flex;
  margin-top: 20px; }

/* line 140, Second_CodeReview_Style.scss */
.secondpartleftside {
  flex: 9;
  margin-right: 20px; }

/* line 144, Second_CodeReview_Style.scss */
.secondpartrightside {
  flex: 1;
  text-align: right; }

/* line 148, Second_CodeReview_Style.scss */
.secondimages {
  width: 100%;
  display: flex;
  justify-content: space-between; }

/* line 153, Second_CodeReview_Style.scss */
.secondimages .img {
  flex-basis: 45%; }

/* line 156, Second_CodeReview_Style.scss */
.secondimages .img img {
  width: 100%;
  height: auto; }

/* line 160, Second_CodeReview_Style.scss */
.secondpartrightside img {
  height: 100%;
  width: auto; }

/* line 164, Second_CodeReview_Style.scss */
.secondimages .img figcaption {
  padding: 3px;
  background-color: #131313;
  color: #fff;
  position: relative;
  margin: -5% 0 0 0;
  max-width: 100%;
  font-size: 1.6em; }

/* line 173, Second_CodeReview_Style.scss */
.iltwo {
  margin-top: 20px; }

/* line 176, Second_CodeReview_Style.scss */
.footer {
  margin-top: 50px;
  width: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column; }

/* line 183, Second_CodeReview_Style.scss */
.ulist .bl {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 1.6em; }

/* line 192, Second_CodeReview_Style.scss */
.footerimg {
  margin: auto 20px auto auto; }

/* line 195, Second_CodeReview_Style.scss */
.footertxt {
  color: white;
  margin: 0 auto;
  font-size: 1.5em; }

/*# sourceMappingURL=Second_CodeReview_Style.css.map */
