/* line 9, Second_CodeReview_Style.scss */
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif; }

/* line 15, Second_CodeReview_Style.scss */
.header {
  background-color: #5A1113;
  display: flex;
  height: 120px;
  justify-content: space-around;
  margin-bottom: 0; }

/* line 22, Second_CodeReview_Style.scss */
.headerimg1 {
  margin: auto auto auto 20px; }

/* line 25, Second_CodeReview_Style.scss */
.headerimg2 {
  margin: auto 20px auto auto; }

/* line 28, Second_CodeReview_Style.scss */
.navbar {
  background-color: #131313;
  margin: 0; }

/* line 32, Second_CodeReview_Style.scss */
.ulist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 38, Second_CodeReview_Style.scss */
.ulist li a {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 1.6em; }

/* line 47, Second_CodeReview_Style.scss */
.currentsite {
  color: #7f8c8d; }

/* line 50, Second_CodeReview_Style.scss */
.ulist li a:hover {
  transition: 0.3s;
  color: #7f8c8d; }

/* line 54, Second_CodeReview_Style.scss */
.bodycontainer {
  width: 90%;
  margin: 0 auto; }

/* line 58, Second_CodeReview_Style.scss */
.date {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  height: 50px;
  justify-content: flex-end; }

/* line 66, Second_CodeReview_Style.scss */
.date p {
  margin: auto 0;
  padding: 0; }

/* line 70, Second_CodeReview_Style.scss */
.topnews, .popular {
  background-color: #DEDEDE;
  width: 100%;
  padding: 0; }

/* line 75, Second_CodeReview_Style.scss */
.topnews ul, .popular ul {
  padding: 0;
  margin: 0; }

/* line 79, Second_CodeReview_Style.scss */
.topnews ul li, .popular ul li {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #4C4C4C;
  line-height: 50px;
  font-size: 1.6em; }

/* line 88, Second_CodeReview_Style.scss */
.firstimages {
  width: 100%;
  display: flex;
  justify-content: space-between; }

/* line 93, Second_CodeReview_Style.scss */
.firstimages .img {
  flex-basis: 30%; }

@media screen and (min-width: 550px) {
  /* line 97, Second_CodeReview_Style.scss */
  .firstimages .img img {
    width: 100%;
    height: auto; }

  /* line 101, Second_CodeReview_Style.scss */
  .firstpartrightside img {
    height: 100%;
    width: auto; } }
@media screen and (min-width: 551px) {
  /* line 107, Second_CodeReview_Style.scss */
  .imgbanner {
    display: none; } }
/* line 111, Second_CodeReview_Style.scss */
.firstimages .img figcaption {
  padding: 3px;
  background-color: #131313;
  color: #fff;
  position: relative;
  margin: -15% 0 0 0;
  max-width: 100%;
  font-size: 1.6em; }

/* line 120, Second_CodeReview_Style.scss */
.firstimages .img a {
  text-decoration: none; }

/* line 123, Second_CodeReview_Style.scss */
.popular {
  margin-top: 20px;
  width: 100%; }

/* line 128, Second_CodeReview_Style.scss */
.firstpartcontainer {
  display: flex;
  margin-top: 20px; }

/* line 132, Second_CodeReview_Style.scss */
.firstpartleftside {
  flex: 8;
  margin-right: 20px; }

/* line 136, Second_CodeReview_Style.scss */
.firstpartrightside {
  flex: 1;
  text-align: right; }

/* line 140, Second_CodeReview_Style.scss */
.developerbanner {
  display: flex; }

/* line 143, Second_CodeReview_Style.scss */
.developerbanner a {
  margin: 20px auto 0 auto; }

/* line 146, Second_CodeReview_Style.scss */
.developerbanner img {
  max-width: 690px;
  width: 100%;
  height: auto; }

/* line 151, Second_CodeReview_Style.scss */
.secondpartcontainer {
  display: flex;
  margin-top: 20px; }

/* line 155, Second_CodeReview_Style.scss */
.secondpartleftside {
  flex: 7;
  margin-right: 20px; }

/* line 159, Second_CodeReview_Style.scss */
.secondpartrightside {
  flex: 1;
  text-align: right; }

/* line 163, Second_CodeReview_Style.scss */
.secondimages {
  width: 100%;
  display: flex;
  justify-content: space-between; }

/* line 168, Second_CodeReview_Style.scss */
.secondimages .img {
  flex-basis: 47.5%; }

@media screen and (min-width: 550px) {
  /* line 172, Second_CodeReview_Style.scss */
  .secondimages .img img {
    width: 100%;
    height: auto; }

  /* line 176, Second_CodeReview_Style.scss */
  .secondpartrightside img {
    height: 100%;
    width: auto; } }
/* line 181, Second_CodeReview_Style.scss */
.secondimages .img figcaption {
  padding: 3px;
  background-color: #131313;
  color: #fff;
  position: relative;
  margin: -5% 0 0 0;
  max-width: 100%;
  font-size: 1.6em; }

/* line 190, Second_CodeReview_Style.scss */
.secondimages .img a {
  text-decoration: none; }

/* line 193, Second_CodeReview_Style.scss */
.iltwo {
  margin-top: 20px; }

/* line 196, Second_CodeReview_Style.scss */
.footer {
  margin-top: 50px;
  width: 100%;
  background-color: #131313;
  display: flex;
  flex-direction: column; }

/* line 203, Second_CodeReview_Style.scss */
.ulist .bl {
  display: block;
  margin-left: 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 1.6em; }

/* line 212, Second_CodeReview_Style.scss */
.footerimg {
  margin: auto 20px auto auto; }

/* line 215, Second_CodeReview_Style.scss */
.footertxt {
  color: white;
  margin: 0 auto;
  font-size: 1.5em; }

@media screen and (max-width: 1000px) {
  /* line 221, Second_CodeReview_Style.scss */
  .firstpartrightside {
    display: none; }

  /* line 224, Second_CodeReview_Style.scss */
  .firstpartleftside {
    margin-right: 0; }

  /* line 227, Second_CodeReview_Style.scss */
  .firstimages .img figcaption {
    font-size: 125%; }

  /* line 230, Second_CodeReview_Style.scss */
  .secondimages .img figcaption {
    font-size: 125%; }

  /* line 233, Second_CodeReview_Style.scss */
  .up {
    justify-content: space-around; }

  /* line 236, Second_CodeReview_Style.scss */
  .sidepagecontent {
    flex-wrap: wrap; } }
@media screen and (max-width: 550px) {
  /* line 241, Second_CodeReview_Style.scss */
  .headerimg2 {
    display: none; }

  /* line 244, Second_CodeReview_Style.scss */
  .developerbanner {
    display: none; }

  /* line 247, Second_CodeReview_Style.scss */
  .secondpartrightside {
    display: none; }

  /* line 250, Second_CodeReview_Style.scss */
  .up {
    justify-content: space-around; }

  /* line 253, Second_CodeReview_Style.scss */
  .ilone {
    flex-direction: column; }

  /* line 256, Second_CodeReview_Style.scss */
  .iltwo {
    flex-direction: column; }

  /* line 259, Second_CodeReview_Style.scss */
  .firstimages .img img {
    width: 100%;
    height: auto; }

  /* line 263, Second_CodeReview_Style.scss */
  .firstimages .img figcaption {
    margin: -5% 0 20px 0; }

  /* line 266, Second_CodeReview_Style.scss */
  .secondpartcontainer {
    margin-top: 0; }

  /* line 269, Second_CodeReview_Style.scss */
  .secondimages .img img {
    width: 100%;
    height: auto; }

  /* line 273, Second_CodeReview_Style.scss */
  .secondimages .img figcaption {
    margin: -5% 0 20px 0; }

  /* line 276, Second_CodeReview_Style.scss */
  .secondpartleftside {
    margin-right: 0px; }

  /* line 279, Second_CodeReview_Style.scss */
  .down {
    margin: 0 auto; }

  /* line 282, Second_CodeReview_Style.scss */
  .footerimg {
    margin: 0 auto; }

  /* line 285, Second_CodeReview_Style.scss */
  .sidepagecontent {
    flex-direction: column; }

  /* line 288, Second_CodeReview_Style.scss */
  .sidepagecontent .img img {
    width: 100%;
    height: auto; }

  /* line 292, Second_CodeReview_Style.scss */
  .sidepagecontent .img a figcaption {
    margin: -5% 0 20px 0;
    font-size: 125%; } }
/* line 297, Second_CodeReview_Style.scss */
.sidepagecontent {
  margin: 20px 0 110px 0;
  display: flex;
  justify-content: space-between; }

/* line 302, Second_CodeReview_Style.scss */
.sidepagecontent .img {
  flex-basis: 30%; }

/* line 305, Second_CodeReview_Style.scss */
.sidepagecontent .img img {
  width: 100%;
  height: auto; }

/* line 309, Second_CodeReview_Style.scss */
.sidepagecontent .img figcaption {
  padding: 3px;
  background-color: #131313;
  color: #fff;
  position: relative;
  margin: -5% 0 0 0;
  max-width: 100%;
  font-size: 1.6em; }

/* line 318, Second_CodeReview_Style.scss */
.sidepagecontent .img a {
  text-decoration: none; }

/*# sourceMappingURL=Second_CodeReview_Style.css.map */
