$ColorWhite: #fff;
$ColorNavBar: #7f8c8d;
$ColorNews: #4C4C4C;
$BackgroundWhite: #fff;
$BackgroundHeading: #5A1113;
$BackgroundNavBar: #131313;
$BackgroundNews: #DEDEDE;

body{
	background-color: $BackgroundWhite;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
.header{
	background-color: $BackgroundHeading;
	display: flex;
	height: 120px;
	justify-content: space-around;
	margin-bottom: 0;
}
.headerimg1{
	margin: auto auto auto 20px;
}
.headerimg2{
	margin: auto 20px auto auto;
}
.navbar{
		background-color: $BackgroundNavBar;
		margin: 0;
}
.ulist{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.ulist li a {
	display: block;
	margin-left: 10px;
	padding: 3px 10px;
	text-decoration: none;
	color: $ColorWhite;
	line-height: 50px;
	font-size: 1.6em;
}
.currentsite{
	color: $ColorNavBar;
}
.ulist li a:hover{
	transition: 0.3s;
	color: $ColorNavBar;
}
.bodycontainer{
	width: 90%;
	margin: 0 auto;
}
.date{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	height: 50px;
	justify-content: flex-end;
}
.date p{
	margin: auto 0;
	padding: 0;
}
.topnews{
	background-color: $BackgroundNews;
	width: 100%;
	padding: 0;
}
.topnews ul{
	padding: 0;
	margin: 0;
}
.topnews ul li{
	display: block;
	margin-left: 10px;
	padding: 3px 10px;
	text-decoration: none;
	color: $ColorNews;
	line-height: 50px;
	font-size: 1.6em;
}
.firstimages{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.firstimages .img{
	flex-basis: 30%;
}
@media screen and (min-width: 550px){
	.firstimages .img img{
		width: 100%;
		height: auto;
	}
	.firstpartrightside img{
		height: 100%;
		width: auto;
	}
}
@media screen and (min-width: 551px){
	.imgbanner{
		display: none;
	}
}
.firstimages .img figcaption {
	padding: 3px;
	background-color: #131313;
	color: $ColorWhite;
	position: relative;
	margin: -15% 0 0 0;
	max-width: 100%;
	font-size: 1.6em;
}
.popular{
	margin-top: 20px;
	width: 100%;
	@extend .topnews;
}
.firstpartcontainer{
	display: flex;
	margin-top: 20px;
}
.firstpartleftside{
	flex: 8;
	margin-right: 20px;
}
.firstpartrightside{
	flex: 1;
	text-align: right;
}
.developerbanner{
	display: flex;
}
.developerbanner a{
	margin: 20px auto 0 auto;
}
.developerbanner img{
	max-width: 690px;
	width: 100%;
	height: auto;
}
.secondpartcontainer{
 	display: flex;
 	margin-top: 20px;
}
.secondpartleftside{
	flex: 7;
	margin-right: 20px;
}
.secondpartrightside{
	flex: 1;
	text-align: right;
}
.secondimages{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.secondimages .img{
	flex-basis: 45%;
}
@media screen and (min-width: 550px){
	.secondimages .img img{
		width: 100%;
		height: auto;
	}
	.secondpartrightside img{
		height: 100%;
		width: auto;
	}
}
.secondimages .img figcaption {
	padding: 3px;
	background-color: #131313;
	color: $ColorWhite;
	position: relative;
	margin: -5% 0 0 0;
	max-width: 100%;
	font-size: 1.6em;
}
.iltwo{
	margin-top: 20px;
}
.footer{
	margin-top: 50px;
	width: 100%;
	background-color: $BackgroundNavBar;
	display: flex;
	flex-direction: column;
}
.ulist .bl {
	display: block;
	margin-left: 10px;
	padding: 3px 10px;
	text-decoration: none;
	color: $ColorWhite;
	line-height: 50px;
	font-size: 1.6em;
}
.footerimg{
	margin: auto 20px auto auto;
}
.footertxt{
	color: white;
	margin: 0 auto;
	font-size: 1.5em;
}

@media screen and (max-width: 1000px){
	.firstpartrightside {
		display: none;
	}
	.firstpartleftside{
		margin-right: 0;
	}
	.firstimages .img figcaption {
		font-size: 125%;
	}
	.secondimages .img figcaption {
		font-size: 125%;
	}
	.up{
		justify-content: space-around;
	}
}

@media screen and (max-width: 550px){
	.headerimg2 {
		display: none;
	}
	.developerbanner{
		display: none;
	}
	.secondpartrightside{
		display: none;
	}
	.up{
		justify-content: space-around;
	}
	.ilone{
		flex-direction: column;
	}
	.iltwo{
		flex-direction: column;
	}
	.firstimages .img img{
		width: 100%;
		height: auto;
	}
	.firstimages .img figcaption {
		margin: -5% 0 20px 0;
	}
	.secondpartcontainer{
		margin-top: 0;
	}
	.secondimages .img img{
		width: 100%;
		height: auto;
	}
	.secondimages .img figcaption {
		margin: -5% 0 20px 0;
	}






}